<title>2D-FT</title>
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='2D-FT'>
<!-- <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script> -->
<script src='scripts/vue.min.js'></script>
<script src='scripts/three.min.js'></script>
<!-- <script src='three.js'></script> -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E9ZG1KHTVT"></script>
<script src='/scripts/google.js'></script>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">

<style>
    input[type="range"], input[type="radio"] {
        accent-color: magenta;
    }

    a {
        color: black;
    }

    body {
        font-family: 'JetBrains Mono', monospace;
        font-size: 0.8em;
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px;
    }

    .wrapper-large {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding-bottom: 8px;
    }

    .wrapper-small {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .wrapper-small > div {
        width: 80px;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    img,
    canvas {
        border: solid 1px black;
        border-radius: 4px;
    }
</style>

<div class='app'>
    <!-- ============================================== -->
    <!-- HEADER AND APP TITLE                           -->
    <!-- ============================================== -->
    <h1>2D-FT</h1>
    <div style='margin-bottom: 16px;'>
        2D inverse Fourier Transform real-time editor online. Simple and phone-friendly; you can input photos directly from your camera. Click or touch the spectrum to edit the mask and see the result of the inverse transform.<br>

        This project is based on the original work of Tetsuro Sakamoto: <a href='https://github.com/tsakamoto/2d-inverse-fourier-transform' target='_blank'>2D Inverse Fourier Transform Playground</a>.
        Thanks Tetsuro!<br><br>
        <a href='intro.html'>Read the introduction to Fourier analysis in human visual perception &rarr;</a>
    </div>

    <!-- ============================================== -->
    <!-- INPUT IMAGE SELECTION                          -->
    <!-- ============================================== -->


    <div style="margin-bottom: 8px;">
        <h3>Select input image</h3>
        <div>
            Image URL:
            <input v-model='imageURL' size='10' @keyup.enter='loadImage(imageURL)' /><br>
            or <input type='file' @change='loadLoaclImage' />
        </div>
        <div style="margin: 8px 0;">
            <label><input type="radio" v-model="cropImage" :value="true" @change="loadImage(imageURL)"> Crop</label>
            <label style="margin-left: 8px;"><input type="radio" v-model="cropImage" :value="false" @change="loadImage(imageURL)"> Stretch</label>
        </div>
        <br>
        <div class='wrapper-small' :style='{width: styleN}'>
            <div v-for='image in images' @click='loadImage(image)'>
                <img :src='image' width='100%' style='filter: grayscale(1.0); cursor: pointer;' />
            </div>
        </div>
    </div>

    <!-- ============================================== -->
    <!-- INTERACTIVE CANVASES AND CONTROLS              -->
    <!-- ============================================== -->
    <div class='wrapper-large'>
        <!-- COLUMN 2: Result Image -->
        <div>
            <canvas id='cv-result'></canvas>
        </div>
        
        <!-- COLUMN 3: Masked Spectrum (Interactive) -->
        <div>
            <h3>Draw mask on spectrum</h3>
            <div style='position: relative;'>
                <canvas id='cv-masked' @mousemove='mouseMove' @mousedown='mouseDown' @mouseup='mouseUp' @wheel='wheel' @touchstart.prevent='touchStart' @touchmove.prevent='touchMove' @touchend.prevent='touchEnd'
                    style='cursor: crosshair;' oncontextmenu='return false'></canvas>
                <svg :width='styleN' :height='styleN'>
                    <circle :cx='uniforms.b_xy.value.x*styleN' :cy='(1.0-uniforms.b_xy.value.y)*styleN'
                        :r='uniforms.b_r.value/2*styleN/N' stroke='magenta' fill='none' stroke-width='2' />
                </svg>
            </div>
            <div style="margin-bottom: 16px;">
                <h4>Mask Brush</h4>
                <div>
                    <label><input type="radio" v-model="brushMode" :value="1"> Fill</label>
                    <label><input type="radio" v-model="brushMode" :value="2"> Delete</label>
                </div>
                <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                    Brush size: <input type="range" v-model.number="uniforms.b_r.value" min="1" :max="256" />
                </div>
            </div>
        </div>
        
        <!-- ============================================== -->
        <!-- FOURIER WAVE PREVIEW                           -->
        <!-- ============================================== -->
        <div>
            <!-- <h2>Wave</h2> -->
            <canvas id='cv-wave'></canvas>
        </div>
        
        <!-- ============================================== -->
        <!-- MASK DISPLAY (INTERACTIVE)                     -->
        <!-- ============================================== -->
        <div>
            <div style='position: relative;'>
                <canvas id='cv-mask' @mousemove='mouseMove' @mousedown='mouseDown' @mouseup='mouseUp' @wheel='wheel' @touchstart.prevent='touchStart' @touchmove.prevent='touchMove' @touchend.prevent='touchEnd'
                    style='cursor: crosshair;' oncontextmenu='return false'>
                </canvas>
                <svg :width='styleN' :height='styleN'>
                    <circle :cx='uniforms.b_xy.value.x*styleN' :cy='(1.0-uniforms.b_xy.value.y)*styleN'
                        :r='uniforms.b_r.value/2*styleN/N' stroke='magenta' fill='none' stroke-width='2' />
                </svg>
            </div>
        </div>

        <!-- ============================================== -->
        <!-- MASK FILTER SELECTION                          -->
        <!-- ============================================== -->
        <div>
            <h3>Try some preset masks</h3>
            Mask URL:
            <input v-model='maskURL' size='10' @keyup.enter='loadMask(maskURL)'><br>
            or <input type='file' @change='loadLoaclMask' />
            <br><br>
            <div class='wrapper-small' :style='{width: styleN}'>
                <div v-for='mask in masks' @click='loadMask(mask)'>
                    <img :src='mask' width='100%' style='filter: grayscale(1.0); cursor: pointer;' />
                </div>
            </div>
        </div>

        <!-- ============================================== -->
        <!-- ackNOWLEDGEMENT AND FOOTER                        -->
        <!-- ============================================== -->
        <div style='margin-top: 16px; color: #555;'>
            <h3>Tips</h3>
            <ul style='text-align: left; display: inline-block;'>
                <li>Use mouse wheel or pinch to zoom in/out the brush size.</li>
                <li>Right-click to invert the drawing mode.</li>
                <li>Low frequencies are in the center and high frequencies are at the edges.</li>
            </ul>
        </div>
    </div>
</div>


<script type="x-shader/x-vertex" id="vs">
    #version 300 es
    void main() {
        gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
</script>

<script type='x-shader/x-fragment' id='fs-header'>
    #version 300 es
    precision highp float;
    precision highp int;

    uniform int N, itr;
    uniform sampler2D ta, tb;

    // brush variables
    uniform vec2 d, b_xy, b_s, b_t;
    uniform int b_active, b_type;
    uniform float b_r, b_v;
    
    out vec4 fragColor;

    vec2 shift(vec2 p) {
        return vec2((uvec2(p)+(uint(N)>>1))&~uint(N)) + 0.5;
    }

    vec2 reverse(vec2 p) {
        uvec2 n = uvec2(p);
        uvec2 res = uvec2(0u);
        for(uint i=1u;(i&uint(N))==0u;i<<=1u){
            res <<= 1u;
            res |= n & 1u;
            n >>= 1u;
        }
        return vec2(res)+0.5;
    }

    vec2 mul(const vec2 a, const vec2 b) {
        return vec2(a.x*b.x - a.y*b.y, a.x*b.y + a.y*b.x);
    }

    const float pi = acos(-1.0);

    vec2 w(const uint n) {
        float y  = -2.0*pi/float(itr)*float(n);
        return vec2(cos(y), sin(y));
    }
    
    vec2 iw(const uint n) {
        float y  = +2.0*pi/float(itr)*float(n);
        return vec2(cos(y), sin(y));
    }

    float distance2_sp(vec2 s, vec2 t, vec2 p) {
        float l2 = dot(t-s, t-s);
        if(l2 == 0.0) return dot(p-s, p-s);
        float a = max(0., min(1., dot(p-s, t-s)/l2));
        vec2 proj = s+a*(t-s);
        return dot(p-proj, p-proj);
    }
</script>

<script type='x-shader/x-fragment' id='fs-original'>
    void main() {
        vec2 pf = reverse(gl_FragCoord.xy);
        vec4 c = texture(ta, pf*d);
        float gray = (c.r + c.g + c.b)/3.0;
        fragColor = vec4(gray/float(N), 0.0, gray/float(N), 0.0);
    }
</script>

<script type='x-shader/x-fragment' id='fs-original-cv'>
    void main() {
        vec4 c = texture(ta, gl_FragCoord.xy*d);
        float mmin = texture(tb, gl_FragCoord.xy*d).x*float(N);
        float mmax = texture(tb, gl_FragCoord.xy*d).z*float(N);
        float gray = (c.r + c.g + c.b)/3.0;
        fragColor = vec4((gray-mmin)/(mmax-mmin));
        if(mmin == mmax){
            fragColor = vec4(0.5);
        }
    }
</script>

<script type='x-shader/x-fragment' id='fs-fft'>
    void main() {
        uint n = uint(N);
        uint m = uint(itr);
        uvec2 pi = uvec2(gl_FragCoord.xy);
        uvec2 pio = pi&~(m>>1);
    
        vec2 v0 = texture(ta, vec2(pio                  )*d).xy;
        vec2 v1 = texture(ta, vec2(pio+uvec2(m>>1, 0u  ))*d).xy;
        vec2 v2 = texture(ta, vec2(pio+uvec2(0u,   m>>1))*d).xy;
        vec2 v3 = texture(ta, vec2(pio+uvec2(m>>1, m>>1))*d).xy;
    
        //v0 = mul(v0, w(0u       ));
        v1 = mul(v1, w(pi.x     ));
        v2 = mul(v2, w(pi.y     ));
        v3 = mul(v3, w(pi.x+pi.y));

        vec2 res = v0+v1+v2+v3;
        fragColor = vec4(res, 0.0, 0.0);
    }
</script>

<script type='x-shader/x-fragment' id='fs-spectral-cv'>
    void main() {
        vec2 pf = shift(gl_FragCoord.xy);
        float F = log(length(texture(ta, pf*d).rg*float(N)))/8.0; // TODO 8 is magick number
        F = pow(F, 2.2); // enhance contrast
        fragColor = vec4(F);
    }
</script>

<script type='x-shader/x-fragment' id='fs-mask-cv'>
    void main() {
        float mask = texture(ta, gl_FragCoord.xy*d).r;
        fragColor = vec4(mask);
    }
</script>

<script type='x-shader/x-fragment' id='fs-masked-cv'>
    void main() {
        vec2 pf = shift(gl_FragCoord.xy);
        float F = log(length(texture(ta, pf*d).rg*float(N)))/8.0; // TODO 8 is magick number
        F = pow(F, 2.2); // enhance contrast
        vec4 mask = texture(tb, gl_FragCoord.xy*d);
        fragColor = vec4(F*mask.x);
    }
</script>

<script type='x-shader/x-fragment' id='fs-draw'>
    void main() {
        fragColor.x = texture(ta, gl_FragCoord.xy*d).x;
        float dist2 = distance2_sp(b_s, b_t, gl_FragCoord.xy*d);
        if(b_active > 0){
            if(dist2 < b_r*0.5*d.x*b_r*0.5*d.x || uvec2(b_xy*float(N)) == uvec2(gl_FragCoord.xy)){
                switch(b_type){
                    case 1: fragColor.x = b_v; break;
                    case 2: fragColor.x = 0.0; break;
                }
            }
        }
        switch(b_type){
            case 3: fragColor.x = 0.0; break;
        }
    }
</script>

<script type='x-shader/x-fragment' id='fs-masked'>
    void main() {
        vec2 pf = reverse(gl_FragCoord.xy);
        vec2 mpf = shift(pf);
        float mask = texture(tb, mpf*d).r;
        fragColor = texture(ta, pf*d)/float(N)*mask;
    }
</script>

<script type='x-shader/x-fragment' id='fs-ifft'>
    void main() {
        uint n = uint(N);
        uint m = uint(itr);
        uvec2 pi = uvec2(gl_FragCoord.xy);
        uvec2 pio = pi&~(m>>1);
    
        vec2 v0 = texture(ta, vec2(pio                  )*d).xy;
        vec2 v1 = texture(ta, vec2(pio+uvec2(m>>1, 0u  ))*d).xy;
        vec2 v2 = texture(ta, vec2(pio+uvec2(0u,   m>>1))*d).xy;
        vec2 v3 = texture(ta, vec2(pio+uvec2(m>>1, m>>1))*d).xy;
    
        //v0 = mul(v0, iw(0u       ));
        v1 = mul(v1, iw(pi.x     ));
        v2 = mul(v2, iw(pi.y     ));
        v3 = mul(v3, iw(pi.x+pi.y));
    
        vec2 res = v0+v1+v2+v3;
        fragColor = vec4(res, res);
}
</script>

<script type='x-shader/x-fragment' id='fs-minmax'>
    void main() {
        uint n = uint(N);
        uint m = uint(itr);
        uvec2 pi = uvec2(gl_FragCoord.xy);
        uvec2 pio = pi&~(m>>1);
    
        vec4 v0 = texture(ta, vec2(pio                  )*d);
        vec4 v1 = texture(ta, vec2(pio+uvec2(m>>1, 0u  ))*d);
        vec4 v2 = texture(ta, vec2(pio+uvec2(0u,   m>>1))*d);
        vec4 v3 = texture(ta, vec2(pio+uvec2(m>>1, m>>1))*d);
    
        float mmin = min(v0.x, min(v1.x, min(v2.x, v3.x)));
        float mmax = max(v0.z, max(v1.z, max(v2.z, v3.z)));
        fragColor = vec4(mmin, 0.0, mmax, 0.0);
}
</script>

<script type='x-shader/x-fragment' id='fs-result-cv'>
    void main() {
        float gray = texture(ta, gl_FragCoord.xy*d).x;
        float mmin = texture(tb, gl_FragCoord.xy*d).x;
        float mmax = texture(tb, gl_FragCoord.xy*d).z;
        fragColor = vec4((gray-mmin)/(mmax-mmin));
        if(mmin == mmax){
            fragColor = vec4(0.5);
        }
    }
</script>

<script type='x-shader/x-fragment' id='fs-wave'>
    void main() {
        uint n = uint(N);
        uint m = uint(itr);
        vec2 F = normalize(texture(ta, shift(b_xy*float(N))*d).xy);
        uvec2 pi = uvec2(gl_FragCoord.xy);
        uvec2 mouse = uvec2(shift(b_xy*float(N)));
        vec2 v = mul(iw(pi.x*mouse.x+pi.y*mouse.y), F);
        fragColor = vec4(v.r*0.5+0.5);
    }
</script>

<script type='x-shader/x-fragment' id='fs-gray'>
    void main() {
        vec4 c = texture(ta, gl_FragCoord.xy*d);
        float gray = (c.r + c.g + c.b)/3.0;
        fragColor = vec4(gray);
    }
</script>

<script type='x-shader/x-fragment' id='fs-copy'>
    void main() {
        fragColor = texture(ta, gl_FragCoord.xy*d);
    }
</script>


<script src='main.js'></script>